$borderColor: var(--ObjUI-colors-border);
$dividerColor: var(--ObjUI-colors-divider);

$textPrimaryColor: var(--ObjUI-colors-text-primary);
$textSecondaryColor: var(--ObjUI-colors-text-secondary);

$codeBackgroundColor: var(--ObjUI-colors-special-code-background);
$codeTextColor: var(--ObjUI-colors-special-code-text);

$accentColor: var(--ObjUI-colors-accent-primary-value);
$linkColor: var(--ObjUI-colors-link);

$spacingGutter: var(--ObjUI-spacing-gutter);
$spacingSm: var(--ObjUI-spacing-sm);
$spacingMd: var(--ObjUI-spacing-md);
$spacingLg: var(--ObjUI-spacing-lg);
