@import 'src/vars';

.componentPreview {
  width: 100%;

  .componentPreviewToolbar {
    text-align: right;
    height: 50px;
    line-height: 50px;
  }
  .componentPreviewEditor {
    border-radius: 5px;
    border: 1px solid $dividerColor;
  }
  .componentPreviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    margin: $spacingMd 0 0 0;
    overflow-x: auto;
    border-radius: 5px;
    border: 1px solid $dividerColor;
    padding: $spacingSm;

    [data-row] {
      display: flex;
      flex-direction: column;
      margin: $spacingGutter 0;
      width: 100%;

      & + [data-row] {
        margin-top: 0;
      }

      > div {
        width: 100%;
      }
    }
    p {
      margin-bottom: 8px;
    }
  }
}
