@import 'src/vars';

.docs {
  hr {
    border: none;
    border-top: 1px solid $dividerColor;
  }

  h2 {
    // color: $textSecondaryColor;
  }

  p {
    line-height: 1.4em;
  }

  code:not(pre code) {
    padding: 2px 4px;
    color: $codeTextColor;
    background: $codeBackgroundColor;
    border-radius: 4px;
    border: 1px solid $dividerColor;
    font-family: monospace;
  }

  pre {
    font-family: monospace !important;
  }
}

.sideNavigation {
  width: 300px;
}
